<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" type = "text/css" href = "../static/clustertruck.css">
    <meta charset="UTF-8">
    <title>Cluster Truck Forecast</title>
</head>
<body>
<h1> ClusterTruck Forecast, Further Right Equals More Busy </h1>
<dl>
  <dt>
    Bloomington
      {{Monday}}
      {{Tuesday}}
      {{Wednesday}}
      {{Thursday}}
      {{Friday}}
      {{Saturday}}
      {{Sunday}}

  </dt>


</dl>

<dl>
  <dt>
    Downtown Indianapolis
      {{MondayIndy}}
      {{TuesdayIndy}}
      {{WednesdayIndy}}
      {{ThursdayIndy}}
      {{FridayIndy}}
      {{SaturdayIndy}}
      {{SundayIndy}}
  </dt>

created by Chris Herczeg for ClusterTruck
</dl>
</body>
</html>